<template name="home_main">
    <div class="home_main">
{{waitOn}}
           <img src="assets/img/svision_mine.PNG" style="position: absolute; top:0px; left:0; width: 100%; height: 100%;" alt="giving water">
            <div style="position: absolute; top:0px; left:0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.6);">
                        <!--cover the picture-->
            </div>

            <div style="position: absolute; top:80px; left: 22.5%; width: 55%; text-align: center">
                
                <div style="color: #134f5c; font-weight: normal;">
                    
                    <div style="font-size: 28pt; color: #134f5c;
                    font-weight: bold;">
                        OPEN PROJECTS 
                        <!-- <img src="assets/img/creative_cmon.png" alt="Creative Commons" style="width: 40px; margin-bottom: 10px;"> -->
                    </div>

                    <div>
                        <span style="font-size: 14pt; color: #134f5c;">
                            <span style="font-size: 14pt; color: #134f5c;">
                                <span style="font-weight: bold; color: #134f5c;"> Sumits </span> 
                                are open source projects under the
                            </span>
                             <br>
                            <a style="color: #3870cb" href="http://creativecommons.org/licenses/by-sa/2.5/">Creative Commons Attribution-Sharealike License</a></span> 
                    </div>
                </div>
                            
                <a class="sumit-button" href="/best">
                    <div class="sumit-button-contents" id="GCF">
                        <div class="row1" style="width:100%; float: center; 
                         padding-left: 0px;">
                            Global Challenges Forum
                         </div>
                        <div class="sumit-description">
                            {{>descWrapper text="Shape the discussion around the Sustainable Development Goals"}}
                        </div>
                    </div>
                </a>


                <a class="sumit-button " href="#">
                    <div class="sumit-button-contents" id="LCI">
                        <div class="row1" style="width:100%; float: center; 
                         padding-left: 0px; color: #ce9b00;">
                            Literature Curation Initiative
                         </div>
                        <div class="sumit-description">
                            {{>descWrapper text="A repository of the world's technical solutions, publications, and reports."}}
                    </div>
                    <div style="clear: both">
                        <!--stop floating effect-->
                    </div>
                </div>
                </a>

                <a class="sumit-button" href="#">
                    <div class="sumit-button-contents" id="OIC">
                        <div class="row1" style="width:100%; float: center; 
                         padding-left: 0px; color: #6aa84f;">
                            Open Innovation Collaborative
                         </div>
                        <div class="sumit-description">
                            {{>descWrapper text="A collaboration and design tool for sustainable development."}}
                        </div>
                    <div style="clear: both">
                        <!--stop floating effect-->
                    </div>
                </div>
                </a>

            </div>
    </div>
</template>

<template name="descWrapper">
    <div class="desc-wrapper">
        
        <div>
            {{this.text}}
        </div>

    </div>
</template>
