<template name="splash">
{{init}}

<style>

   .btn-hover {
                background-color: rgba(69, 129, 142, 0.48) !important;
                color: white !important;
            }
            .btn-full {
                background-color: rgba(69, 129, 142, 0.48) !important;
                color: white !important;
            }

            .s_down{
                cursor: pointer;
            }

            .fp-controlArrow.fp-prev{
                left: 15px;
                width: 0;
                border-width: 0px 0px 0px 0;
                border-color: transparent;
            }
            .fp-controlArrow.fp-next{
                right: 15px;
                border-width: 0;
                border-color: transparent;
            }

</style>


{{> splash_header}}

 <div class="fullpage">

 <div class="section home"  >
 <a name="shome"></a>
  <div>
 {{> shome}}
  </div>
 </div>

 <div class="section vision"  >
 <a name="svision" id="svision"></a>
 <div>
 {{> vision}}
  </div>
  </div>


 <div class="section mission" >
 <a name="smission" id="smission"></a>
 <div>
 {{> mission}}
  </div>
 </div>




</div>
 
 <!-- calling the fullpage to do its job now-->
 
</template>
