<template name="postsList">
<div class="col-lg-9 col-md-9 col-xs-9" >
  
  <div id="for_psubmit" style="display: {{#if show_submit}}block{{else}}none{{/if}};">
  	
  	{{ > postSubmit}}
  
  </div>
  
  <div class="posts">
	<div id="accordion_post" class="panel-group inPost"  style="margin-bottom: 0px;">
    {{#each postsWithRank}}
    
    <!-- style="/* padding: 1em; background-color: #f3f3f3*/" -->
    	<div class="panel panel-default tags">
      		{{> postItem}}
      	</div>
      	
    {{/each}}
    
	</div>
	
    {{#if nextPath}}
        <a class="load-more" href="{{nextPath}}">Load more</a>
    {{/if}}
  </div>
  
</div>


<div class="col-lg-3 col-md-3 col-xs-3" >

{{> tagView}}

</div>
</template>
