<template name="postItem">
{{waitOn}}
        <div class="panel-heading">
            <div class="panel-title">
            
<div class=" {{#if isPostPage}} media {{/if}} post" {{attributes}}>
    
    <div class="pull-left" style="text-align: center; width: 64px; overflow-x: hidden;">
       	<a  href="#" class="upvote {{upvotedClass}}">
    		<img class="media-object" data-src="holder.js/64x64" 
    		alt="64x64" 
    		src="/img/{{#if up}}button_upvote_clickedComment.png{{else}}iconUp.png{{/if}}" style="width: 60px; height: 25px;">
                                                            </a>
     	<span class="sumit_vote">{{votes}}</span>
      	<a  href="#" class="downVote {{downvotedClass}}">
      	<img class="media-object" data-src="holder.js/64x64" 
      		alt="64x64" 
      		src="/img/{{#if down}}button_downvote_clickedComment.png{{else}}iconDown.png{{/if}}" style="width: 60px; height: 25px;">

      </a>
   	</div>

    <div class="row" style="margin: 0px;">
        <div class="col-xs-7" style="padding-left: 24pt;">
            <div class="media-body">
				<a data-toggle="collapse" class="collapseit" data-id="{{spostid}}" 
					data-parent="#accordion_post" href="#Post{{spostid}}" style="text-decoration: none;">

                	<div class="media-heading for-post" data-id="{{spostid}}"> {{title}} </div>

				</a>
                Author: <span class="entry1"> {{author}}</span>
                <br>
                Affiliation:<span class="entry1"> {{domain}}</span>
            </div>
        </div>

        <div class="col-xs-4">                                 
           Issue Type:<span class="entry" 
           	title="Logistics, Infrastructure, Logistics,  Logistics">
            {{shortenString "Logistics, Infrastructure, Logistics,  Logistics"}} </span>
            <br>
            Thematic Groups:<span class="entry" title="Health, Transportation"> 
            
            Health, Transportation</span>
            <br>
            <a class=" comment" data-id="{{spostid}}" data-me="comment"
					href="{{pathFor 'postPage'}}">

                Comments:<span class="entry" data-id="{{spostid}}" style="color: #a2c4c9;"> {{commentsCount}}</span>
            </a>
            <br>

{{#if isPostPage}}
	<a data-me="evidence" class="btn btn-warning evidence" data-id="{{spostid}}" 
 			href="{{pathFor 'postPage'}}">
            Evidence</a>--
             <!--a data-me="innovation" class="btn btn-success innovation" data-id="{{spostid}}" 
             	 		href="#Post{{spostid}}">
            Innovations</a-->

{{else}}   
     {{#if postOpen }}
	<a data-me="evidence" class="btn btn-warning evidence" data-id="{{spostid}}" 
 			href="{{pathFor 'postPage'}}">
            Evidence</a>
             <!--a data-me="innovation" class="btn btn-success innovation" data-id="{{spostid}}" 
             	 		href="#Post{{spostid}}">  
            Innovations</a-->
            
{{/if}}    
{{/if}}       

            {{#if ownPost}}<a  class=" edit" href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}


        </div>
        
    </div>

</div>
            </div>
        </div>
            <div id="Post{{spostid}}" class="panel-collapse collapse">
            <div class="panel-body " style="padding: 0; border: none;">
<div class="col-xs-12" style="padding: 3em; border: 2px solid rgba(208, 224, 227, 1);">
{{message}}
</div>
          </div>
          </div>



</template>
