<template name="postsList">
<div class="col-lg-{{#if isProfile}}12{{else}}9{{/if}}" style="{{#if isProfile}} border: 1px solid rgb(221, 221, 221);{{/if}}">
  
  {{#unless isProfile}} <!-- show this div only if we are not on the userpage -->
  <div id="for_psubmit" style="display: {{#if show_submit}}block{{else}}none{{/if}};">
  	
  	{{ > postSubmit}}
  
  </div>
  {{/unless}}
  
  <div class="posts">
	<div id="accordion_post" class="panel-group inPost"  style="{{#if isProfile}} margin-top: 15px; margin-bottom: 15px;  {{else}} margin-bottom: 0px; {{/if}}">
    {{#each postsWithRank}}
    
    <!-- style="/* padding: 1em; background-color: #f3f3f3*/" -->
    	<div class="panel panel-default tags">
      		{{> postItem}}
      	</div>
      	
    {{/each}}
    
     {{#if isLoading}}
    	<div class="panel panel-default" style="text-align: center; border: none;">
      		Loading...
      	</div>
    {{/if}}
	</div>
	
    {{#if nextPath}}
        <a class="load-more" href="{{nextPath}}">Load more</a>
    {{/if}}
  </div>
  
</div>


{{#unless isProfile}}
<div class="col-lg-3 col-md-3 col-xs-3" >
{{> tagView}}

</div>
{{/unless}}
</template>
