<template name="postPage">
{{ isPostPage }}
<div class="col-lg-9 col-md-9 col-xs-9" >
	  <div id="for_psubmit" style="display: {{#if show_submit}}block{{else}}none{{/if}};">
  	
  		{{ > postSubmit}}
  
  	</div>
    <div class="panel panel-default tags">

			 
                {{> postItem}}



        <div id="Post{{spostid}}" class="panel-collapse collapse {{#if isPostPage}} in {{/if}}">
            <div class="panel-body " style="padding-top: 0; padding-bottom: 0; border: none;">

                <ul class="media-list comments">
				{{#if innovate}}
				
					{{#each innovations}}

                        {{> innovation}}
                        
                    {{/each}}
				
				{{else}}
				{{#if evident}}
				
					{{#each evidences}}

                        {{> evidence}}
                        
                    {{/each}}
				
				{{else}}
                    {{#each comments}}

                        {{> comment}}
                        
                    {{/each}}


                    <li class="media" style="
                                           		margin-top: 15px;
                                                        ">

                        {{#if currentUser}}
                            {{> commentSubmit}}


                        {{else}}
                        <button class="btn btn-default btn-sm loginTrigger"
                                style=" border-radius: 0px; border-top: none; " type="button">
                            Login to add your own comment!
                        </button>
                        {{/if}}
                    </li>
				
                
                {{/if}} <!-- close evident -->
               {{/if}} <!-- close innovate -->
                <!--end of body panel ....-->
			</ul>
            </div>
        </div>
    </div>
    
    </div>


<div class="col-lg-3 col-md-3 col-xs-3" >

{{> tagView}}

</div>

</template>




