<template name="postItem">
<div class=" {{#if isPostPage}} media {{/if}} post" {{attributes}}>
    
    <div class="pull-left" style="text-align: center; width: 64px; overflow-x: hidden;">
       	<a  href="#" class="upvote {{upvotedClass}}">
    		<img class="media-object" data-src="holder.js/64x64" 
    		alt="64x64" src="/img/iconDown.png" style="width: 60px; height: 25px;">
                                                            </a>
     	<span>{{votes}}</span>
      	<a  href="#" class="downVote {{downvotedClass}}">
      	<img class="media-object" data-src="holder.js/64x64" 
      		alt="64x64" src="/img/iconUp.png" style="width: 60px; height: 25px;">

      </a>
   	</div>

    <div class="row" style="margin: 0px;">
        <div class="col-xs-6">
            <div class="media-body">

                {{#if isPostPage}}
                <h3 class="media-heading"> <a href="{{pathFor 'postPage'}}">{{title}}</a> </h3>
                <p>{{message}}</p>
                {{else}}
                <div class="media-heading for-post"> <a href="{{pathFor 'postPage'}}">{{title}}</a> </div>
                {{/if}}

                <span >Author: {{author}}</span>
                <br>
                <span>Affiliation: {{domain}}</span>
            </div>
        </div>

        <div class="col-xs-5">                                 
            <span >Issue Type: Logistics, Infrastructure</span>
            <br>
            <span>Thematic Groups: Health, Transportation</span>
            <br>
            <a href="{{pathFor 'postPage'}}">

                <span>Comments: {{commentsCount}}</span>
            </a>
            <br>

            <a href="#" class="btn btn-warning evidence">Evidence</a>
            <a href="#" class="btn btn-success innovation">Innovations</a>
            {{#if ownPost}}<a  class=" edit" href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}


        </div>
        
    </div>

</div>

</template>
